{% extends base_template %}
{% load i18n %}
{% load xadmin_tags %}
{% block title %}數據統計{% endblock %}

{% block content %}
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<div id="main" style="width: 100%;height:800px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var title_list={{title_list|safe}};
    var date_list={{date_list|safe}};
    var v1_list={{v1_list|safe}};
    var v2_list={{v2_list|safe}};
    var v3_list={{v3_list|safe}};
    var kwh_list={{kwh_list|safe}};
    var minv={{minv}}
    var option = {
        title: {
            text: '{{title}}'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: title_list
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: date_list
        },
        yAxis: {
            type: 'value',
            min:minv-10
        },
        series: [
            {
                name: 'v1',
                type: 'line',
                data: v1_list
            },
            {
                name: 'v2',
                type: 'line',
                data: v2_list
            },
            {
                name: 'v3',
                type: 'line',
                data: v3_list
            },
            {
                name: 'kwh',
                type: 'line',
                data: kwh_list
            }
        ]
    };

    myChart.setOption(option);
</script>

{% endblock %}