{% extends base_template %}
{% load i18n %}

{% block title %}數據統計{% endblock %}

{% block content %}
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<div id="main" style="width: 100%;height:800px;"></div>
<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'));
    var title_list={{title_list|safe}};
    var date_list={{date_list|safe}};
    var v1_list={{v1_list|safe}};
    var v2_list={{v2_list|safe}};
    var v3_list={{v3_list|safe}};
    var l1_list={{l1_list|safe}};
    var l2_list={{l2_list|safe}};
    var l3_list={{l3_list|safe}};
    var kva_list={{kva_list|safe}};
    var kw_list={{kw_list|safe}};
    var karl_list={{karl_list|safe}};
    var ohr_list={{ohr_list|safe}};
    var minv={{minv}}
    var option = {
        title: {
            text: '{{title}}'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: title_list
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: date_list
        },
        yAxis: {
            type: 'value',
            min:minv-10
        },
        series: [
            {
                name: 'v1',
                type: 'line',
                data: v1_list
            },
            {
                name: 'v2',
                type: 'line',
                data: v2_list
            },
            {
                name: 'v3',
                type: 'line',
                data: v3_list
            },
            {
                name: 'l1',
                type: 'line',
                data: l1_list
            },
            {
                name: 'l2',
                type: 'line',
                data: l2_list
            },
            {
                name: 'l3',
                type: 'line',
                data: l3_list
            },
            {
                name: 'kva',
                type: 'line',
                data: kva_list
            },
            {
                name: 'kw',
                type: 'line',
                data: kw_list
            },
            {
                name: 'karl',
                type: 'line',
                data: karl_list
            },
            {
                name: 'opeationHR',
                type: 'line',
                data: ohr_list
            }
        ]
    };

    myChart.setOption(option);
</script>

{% endblock %}